/vendor
/node_modules
node_modules/*
/public/hot
/public/storage
/.idea

public/backend/images/users/*
public/dashboard/images/*
public/All_QR/*
public/shipment_numbers/*
public/All_csv/*
public/backend/csv/*

storage/Csv_for_test/
storage/app/public/csv/
storage/app/public/files/
storage/app/public/tiles/
storage/logs/laravel.log

/storage/*.key
/storage/fonts/*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
.env
.htaccess
testcafe/screenshots/*

!.gitkeep
